*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: grey;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-blend-mode: multiply;
}

.wrapper{
	background-color: #ffffff;
	width: 380px;
	border-radius: 5px;
	padding: 40px 30px 50px 30px;
	text-align: center;
	opacity: 0.9;
}

.wrapper h2{
	font-size: 55px;
	font-weight: 600;
	color: #284819;
	font-family: 'Oleo Script Swash Caps', cursive;
}

.wrapper form{
	margin: 40px 0;
}

.wrapper form .field{
	width: 100%;
	margin-bottom: 20px;
}

.wrapper form .field.shake{
	animation: shake 0.3s ease-in-out;
}

@keyframes shake{
	0%, 100%{
		margin-left: 0;
	}
	20%, 80%{
		margin-left: -12px;
	}
	40%, 60%{
		margin-left: 12px;
	}
}

.wrapper form .field .input-area{
	position: relative;
}

.wrapper form input{
	height: 50px;
	width: 100%;
	outline: none;
	padding: 0 45px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #bfbfbf;
	border-bottom-width: 2px;
}

form .field input:focus, form .field.valid input{
  border-color: #284819;
}
form .field.shake input, form .field.error input{
  border-color: #284819;
}

.wrapper form .field.error input{
	border-color: #dc3545;
}

.wrapper form input::placeholder{
	color: #bfbfbf;
	font-size: 17px;
}

.wrapper form .field i{
	position: absolute;
	top: 50%;
	font-size: 18px;
	pointer-events: none;
	transform: translateY(-50%);
}

.wrapper form .field .icon {
	left: 15px;
	color: #bfbfbf;
}

.wrapper form .field .error-icon {
	right: 15px;
	color: #dc3545;
}

.wrapper form input:focus ~ .icon, form .field.valid .icon{
  color: #284819;
}
.wrapper form .field.shake input:focus ~ .icon, form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}

.wrapper form .field .error-txt{
	color: #dc3545;
	margin-top: 5px;
	text-align: left;
	font-size: 12px;
}

.wrapper form .field .error{
	display: none;
}

.wrapper form .field.error .error{
	display: block;
}

.wrapper form .pass-link{
	text-align: left;	
	margin-top: -10px;
}

.wrapper a{
	color: #284819;
	text-decoration: none;
}

.wrapper a:hover{
	text-decoration: underline;
}

.wrapper form input[type="submit"]{
	margin-top: 30px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	background-color: #284819;
	transition: background 0.2s ease;
}

.wrapper form input[type="submit"]:hover{
	background: #3b6b25;
}

.wrapper .signup-link p{
	color: #b7b6b6;
}